<div class="container mt-5 mb-5">
    <h1>Editar empleado</h1>
    <hr>
    <div class="mat-elevation-z8">
        <form class="example-form" (ngSubmit)="save()" #forma="ngForm">
            <mat-card class="example-card">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <mat-label>Id</mat-label>
                        <input matInput [(ngModel)]="globalVariablesService.employee.employeeId" name="employeeId" disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Identificación</mat-label>
                        <input matInput [(ngModel)]="globalVariablesService.employee.numberId" name="numberId" disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="globalVariablesService.employee.name" name="name" required #name="ngModel">
                        <mat-error *ngIf="name.invalid && name.touched">
                            Nombre es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Apellidos</mat-label>
                        <input matInput [(ngModel)]="globalVariablesService.employee.lastName" name="lastname" required #lastname="ngModel">
                        <mat-error *ngIf="lastname.invalid && lastname.touched">
                            Apellidos es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Cargo</mat-label>
                        <input matInput [(ngModel)]="globalVariablesService.employee.role" name="role" required #role="ngModel">
                        <mat-error *ngIf="role.invalid && role.touched">
                            Cargo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!(forma.valid)">Guardar</button>
                    <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>